<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>HH</title>
    <link href="/resources/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/resources/css/signin.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <form class="form-horizontal">
        <div class="form-group">
            <label for="startDate">Start date</label>
            <input type="text" class="form-control" id="startDate" />
        </div>
        <div class="form-group">
            <label for="endDate">End date</label>
            <input type="text" class="form-control" id="endDate" />
        </div>
        <div class="form-group">
            <select class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <div class="form-group">
            <select class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>


        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
</body>
</html>