<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>HH</title>
    <link href="/resources/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <form class="form-horizontal" th:action="@{/}" th:object="${report}" method="post">
        <div class="form-group">
            <label for="startDate">Start date</label>
            <input th:field="*{startDate}" type="text" class="form-control" id="startDate" />
        </div>
        <div class="form-group">
            <label for="endDate">End date</label>
            <input  th:field="*{endDate}" type="text" class="form-control" id="endDate" />
        </div>
        <div class="form-group">
            <select th:field="*{performer}" class="form-control">
                <option th:value="null">All Performers</option>
                <option th:each="performer : ${performers}"
                        th:value="${performer}"
                        th:text="${performer}">Bob</option>
            </select>
        </div>
        <div class="form-group">
            <select th:value="${timePeriod}" class="form-control">
                <option th:each="timePeriod : ${timePeriod}"
                        th:value="${timePeriod.value}"
                        th:text="${timePeriod.value}">Bob</option>
            </select>
        </div>

        <button type="submit" class="btn btn-default">Submit</button>
    </form>

    <div class="row">
        <div class="col-lg-12">
            <ul class="list-unstyled">
                <li th:each="rep : ${reports}">
                    <div class="col-xs-3"><small th:text="${rep.startDate}">2015</small></div>
                    <div class="col-xs-3"><small th:text="${rep.endDate}">2015</small></div>
                    <div class="col-xs-3"><small th:text="${rep.performer}">Bob</small></div>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>